<html>
    <head>
        <title>Dani's blog</title>
    </head>

    <body>
      <div>
        <h1>Post one</h1>
      </div>

      <div>
        <h2>Post two</h2>
      </div>

      <div>
        <h3>Post three</h3>
      </div>

      <div>
        <p>Richter City Roller Derby (RCRD) is Wellington’s all female, flat track roller derby league. Established in 2007 by a handful of girls with a vision, Richter City introduced the growing sport of Roller Derby to the country’s capital. We are a non profit, skater owned and operated league. In 2013 Richter City became a fully qualified member of the international organization governing the sport of women’s flat track derby, the Women’s Flat Track Derby Association (WFTDA).</p>
        <p>It works!</p>
      </div>  
    </body>
</html>
